ALGOD_URL=https://testnet-api.algonode.cloud
ALGOD_TOKEN=
# Never commit your real mnemonic! Copy this file to .env and place your testnet/mainnet mnemonic here.
DEPLOYER_MNEMONIC="word1 word2 word3 ... word25"
