# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest
.pytest_cache/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo
docs/

# Algorand/Puya outputs
artifacts/

# Sensitive Info & Generated Keys
demo_account.json
*key*.json
*secret*.json
